@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">C#.Sample.ImageUtil</h1>
    
    <p>点击查看图象卡片生成样例： <a href="chouJiangHuodong/shareCard_1.png" target="_blank">chouJiangHuodong/shareCard_1.png</a></p>
</div>
